<form action="/Parcel" method="post">
  <label for="weight">Weight: </label>
  <input id="weight" name="weight" type="number">
  <label for="length">Length: </label>
  <input id="length" name="length" type="number">
  <label for="width">Width: </label>
  <input id="width" name="width" type="number">
  <label for="height">Height: </label>
  <input id="height" name="height" type="number">
  <button type="submit">Submit</button>
</form>
